.app-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: $clr2;
  height: 80px;
  box-shadow: 0px 2px 2px $clr5;
  & .middle-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.active-header {
	  padding-block-start: 15px;
    padding-block-end: 165px;
  }
  &.dark-header {
	  background-color: $clr3;
	  box-shadow: none;
	  & a, .logo{
	  color: $clr2;
	  }
	  .user-menu {
		background-color: #fff;
	  }
  }

}

.search-bar-container {
  overflow: hidden;
  order: 5;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
}

.short-search-bar {
  z-index: 10;
  order: 1;
}

.logo {
  color: $clr1;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.air-logo {
  margin: 0;
  padding: 0;
  transform: translateY(-15%);
}

.nav-link {
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: space-between;
  a {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 25px;
    height: 42px;
    &:hover {
      background-color: $clr4;
    }
    &:last-of-type {
      margin-inline-end: 5px;
    }
  }
}

.user-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 80px;
  padding: 0 6.5px;
  transition: box-shadow, 0.5s;
  &:hover {
    box-shadow: 0px 2px 4px $clr5;
  }
}

.user-svg {
  width: 31px;
  box-shadow: inset 0px 0px 0px 3px #717171;
  border-radius: 50%;
}

.hamburger-svg {
  width: 30px;
  height: 17px;
}
