.app-header {
  background-color: #fff;
  & a {
      text-decoration: none;
    }
    & .middle-layout {
        display: flex;
        justify-content: space-between;
        align-items: center;
  }
}

.logo {
  color: $clr1;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  display: flex;
  align-items: center;
  font-size: 40px;
}

.air-logo {
  margin: 0;
  padding: 0;
}

.nav-link{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;

}

.user-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 80px;
}

.search-svg {
width: 30px;
}

.user-svg {
  background-color: #717171;
  border-radius: 50%;
  z-index: -1;
}

.user-svg-container {
  z-index: 1;
}