.spacial-btn {
	.order-container {
		border: 1px solid #00000030;
		border-radius: 13px;
		padding: 20px;
		width: 350px;
		margin: 50px auto 10px;
		box-shadow: 0 0 5px 5px #00000015;
		position: sticky;
		top: 15%;
		z-index: 1;
		transition: 0.5s;
	}

	.order-form-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 5px;
	}

	.order-data {
		border: 1px solid #00000050;
		border-radius: 13px;
		margin-bottom: 15px;
	}

	.date-picker {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.date-input {
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding: 7px 12px;
		&:last-of-type {
			border-left: 1px solid #00000050;
		}
	}

	.guest-input {
		display: flex;
		flex-direction: column;
		gap: 5px;
		border-top: 1px solid #00000050;
		padding: 7px 12px;
	}

	input {
		border: none;
		border-radius: 13px;
		outline: none;
	}

	fieldset {
		border: none;
	}
	.start-date {
		border-inline-end: 1px solid #00000030;
	}

	label {
		font-weight: 600;
		font-size: 0.75em;
	}

	span.cost {
		color: black;
		font-size: 1.3em;
	}

	span.reviews {
		color: #00000070;
		font-size: 0.85em;
		text-decoration: underline;
	}

	.btn-container {
		position: relative;
		width: 100%;
		height: 48px;
		padding: 0 0;
		margin: 0 0;
		cursor: pointer;
		border: none;
		display: grid;
		grid-template: repeat(10, 1fr) / repeat(10, 1fr);

		@for $i from 0 to 10 {
			.cell:nth-child(10n + #{$i + 1}):hover ~ .content {
				--positionX: #{$i};
			}

			.cell:nth-child(n + #{10 * $i + 1}):nth-child(-n + #{10 * ($i + 1)}):hover ~ .content {
				--positionY: #{$i};
			}
		}
	}

	.cell {
		width: 100%;
		height: 100%;
		z-index: 1;
		// border: 1px solid rgba(128, 128, 128, 0.753);
	}

	.content {
		--positionX: 0;
		--positionY: 5;

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		border-radius: 8px;

		background-image: radial-gradient(
			circle at calc((0 + var(--positionX, 0)) * 10%) calc((0 + var(--positionY, 0)) * 5%),
			rgb(241, 37, 75) 0%,
			rgb(230, 30, 77) 27.5%,
			rgb(227, 28, 95) 40%,
			rgb(215, 4, 102) 57.5%,
			rgb(189, 30, 89) 75%,
			rgb(189, 30, 89) 100%
		);
	}

	.action-btn {
		padding: 0 0;
		margin: 0 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: none;
	}

	span {
		padding: 0 0;
		margin: 0 0;
		color: white;
		font-size: 16px;
		line-height: 20px;
		font-weight: 600;
		font-family: sans-serif;
	}

	p.footer {
		color: gray;
		font-weight: 500;
		display: inline-block;
		width: 100%;
		text-align: center;
	}
}
.search-spacial-btn {
	.btn-container {
		width: 33px;
		height: 33px;
		margin-inline-end: 2px;
	}
	.content {
		border-radius: 25px;
	}
}
.search-spacial-btn .active-mode {
	& span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	}
}

.guest-screen {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 200%;
	width: 100%;
	// background-color:transparent;
	opacity: 0;
}

.guests {
	margin-top: 20px;
	width: 100%;
}

.guest-add {
	margin: auto;
	flex-direction: column;
	z-index: 1;
	width: inherit;
	transition: visibility 0.5s, opacity 0.5s linear;
}

.guest-type {
	display: flex;
	align-items: center;
	justify-content: space-between;
	button {
		font-size: 2rem;
		height: fit-content;
	}
	h3 {
		margin: 0px 10px;
	}

	div {
		display: flex;
		align-items: center;

		span {
			font-size: 1rem;
			margin: 0 5px;
		}
		.plus-minus {
			opacity: 0.7;
		}

		.plus-minus,
		button {
			width: 30px;
			height: 30px;
		}
		button {
			border: none;
			background-color: transparent;
		}
	}
}
