.searchInputs {
  margin-top: 105px;
  display: flex;
  z-index: 100;
}

.search-input {
  z-index: 100000;
  height: 20px;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

.searchIcon svg {
  font-size: 35px;
}

.data-result {
  position: absolute;
  top: 107%;
  left: 0%;
  width: 280px;
  max-height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
  border-radius: 25px;
  &.not-visible {
    visibility: hidden;
  }
}

.data-result::-webkit-scrollbar {
  display: none;
}

.data-result .data-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
  padding-inline-start: 10px;
}

.data-item p {
  padding-inline-start: 10px;
  font-size: 16px;
  width: 100%;
}

.data-item {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  & img {
    width: 20%;
    height: 50%;
    padding-inline-end:10px;
  }
  li:hover {
    background-color: $clr5;
  }
}

