.filter-container{
    height:52px;
    padding: 14px 0;
    align-items: center;
    // padding-top: 14px
}


.filter-btn{
    cursor: pointer;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 30px;
    color: $clr3;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    padding: 10px 16px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 8px;
    font-size: 14px;
 }

 .filter-btn-active{
    cursor: pointer;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 30px;
    color: $clr3;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    padding: 10px 16px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 8px;
    font-size: 14px;
    border: 2px solid $clr3
 }

 .filter-arrow{
   height: 20px;
   width:fit-content;

 }

 .place-type-filter-container{
     position:absolute;
 }