

.app-layout {
	display: grid;
	grid-template-rows:82px 1fr 400px;
}

.main-layout {
	display: grid;
	grid-row: 1 / 2;
	grid-template-columns: 80px 1fr 80px;
}

.detail-layout {
	display: grid;
	grid-template-columns: 1fr 1120px 1fr;
}

.middle-layout {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}
.full-layout {
	grid-column: 1 / 4;
}

.header-layout {
	grid-row: 1 / 2;
}

.main-app-layout {
	grid-row: 2 / 3;
}

.footer-layout {
	grid-row: 3 / 4;
}

// Main Header Layout

// .card-grid {
//     display: grid;
//     grid-auto-flow: dense;
//     grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
//     gap: 20px;
//     // grid-auto-rows: 300px;

//     > * {
//         @include aspect-ratio(1, 1);
//     }
// }
