.reviews-header {
	align-items: center;
	border-top: 1px solid rgb(221, 221, 221);
	padding: 30px 0;
	gap: 5px;
	img {
		margin-inline-end: 10px;
		height: 20px;
		width: 20px;
	}

	div,
	span {
		font-size: rem(22px);
		font-weight: 600;
	}
}
.reviews-container {
	column-count: 2;
	line-height: 1.7;
	column-gap: 80px;
	column-width: 300px;
	border-bottom: 1px solid rgb(221, 221, 221);
	margin-bottom: 30px;
}

.review {
	break-inside: avoid;
	margin-bottom: 50px;

	img {
		height: 55px;
		width: 55px;
		object-fit: cover;
		border-radius: 50%;
	}
	p {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
		margin-top: 10px;
	}
}

.review-user-info {
	text-transform: capitalize;
	gap: 10px;
	h2 {
		font-weight: 400;
	}
}

.rating-bars-container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;

	.bar-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.rating-bar-header {
		font-size: rem(22px);
		line-height: 3;
	}

	.MuiRating-sizeMedium {
		height: 100%;
	}

	.type-area {
		width: 100%;
		height: 20vh;
	}
}
