.app-layout {
	display: grid;
	grid-template-rows: 1fr 400px;
	min-height: 100vh;
}

.main-layout {
	display: grid;
	// grid-row: 1 / 2;
	grid-template-columns: 80px 1fr 80px;

	> * {
		grid-column: 2;
	}
}

.detail-layout {
	display: grid;
	grid-template-columns: 1fr 1120px 1fr;
}

.middle-layout {
	grid-column: 2 / 3;
}
.full-layout {
	grid-column: 1 / 4;
}

.header-layout {
	flex-direction: row;
	grid-row: 1 / 2;
}

.main-app-layout {
	grid-row: 1 / 2;
}

.footer-layout {
	grid-row: 2 / 3;
}

// Main Header Layout

// .card-grid {
//     display: grid;
//     grid-auto-flow: dense;
//     grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
//     gap: 20px;
//     // grid-auto-rows: 300px;

//     > * {
//         @include aspect-ratio(1, 1);
//     }
// }
